.form-group
	label.control-label.bold(for="{{id}}" ng-class="{ 'sr-only': srOnly }")
		ng-transclude
	textarea.form-control(
		name="{{id}}"
		id="{{id}}"
		maxlength="{{maxlength}}"
		placeholder="{{placeholder}}"

		msd-elastic
		ng-model="$ctrl.ngModel"

		ng-required="required || $ctrl.ngRequired"
		ng-disabled="disabled || $ctrl.ngDisabled"
		ng-readonly="readonly || $ctrl.ngReadonly"
	)
