html(lang="en")
	head
		base(href="/")
		link(rel="preload shortcut icon" href="images/favicon.ico" type="image/x-icon")
		meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
		meta(http-equiv="Pragma" content="no-cache")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content=(require('../../package.json').description))
		title= htmlWebpackPlugin.options.title

	body
		nav.navbar.navbar-dark.bg-light.shadow-lg
			h1.text-center.pb-3.display-3
				span.text-info.mr-2 @ledge/ng-app
				strong.text-success docs

		.container-fluid
			.row
				.col-12
					.card
						.card-body
							app-icon(icon="x")

			.card-deck
				.card.mt-3.shadow
					fieldset.card-body
						legend.display-4.mb-3.text-center Input
						.row
							.col
								text-input(ng-model="$ctrl.textInput")
									| Text Input: #[strong(ng-bind="$ctrl.textInput || '(empty)'")]
							.col
								text-input(ng-model="$ctrl.numberInput" type="number")
									| Number Input: #[strong(ng-bind="$ctrl.numberInput || '(empty)'")]
						.row
							.col
								text-input(ng-model="$ctrl.rangeInput" type="range")
									| Range Input: #[strong(ng-bind="$ctrl.rangeInput || '(empty)'")]
							.col
								date-input(ng-model="$ctrl.dateInput")
									| Date Input: #[strong(ng-bind="$ctrl.dateInput || '(empty)'")]

						.row
							.col
								text-box(ng-model="$ctrl.textBox")
									| Text Area: #[strong(ng-bind="$ctrl.textBox || '(empty)'")]

				.card.mt-3.shadow(
					ng-init="$ctrl.list = [{Text: 'First Choice', Value: 1}, {Text: 'Second Choice', Value: 2}]"
				)
					fieldset.card-body
						legend.display-4.mb-3.text-center Lists
						.row
							.col
								select-list(ng-model="$ctrl.selectSingle" list="$ctrl.list")
									| Single Select: #[strong(ng-bind="$ctrl.selectSingle || '(empty)'")]

							.col
								select-list(ng-model="$ctrl.selectMultiple" list="$ctrl.list" multiple)
									| Multiple Select: #[strong(ng-bind="$ctrl.selectMultiple || '(empty)'")]

						.row
							.col
								fieldset
									legend Radio List: #[strong(ng-bind="$ctrl.radioList || '(empty)'")]
									radio-list(ng-model="$ctrl.radioList" list="$ctrl.list")

							.col
								check-box(ng-model="$ctrl.checkBox")
									| Check Box: #[strong(ng-bind="$ctrl.checkBox || '(empty)'")]

						.row.justify-content-center.pt-5
							.col-auto
								button.btn.btn-dark.btn-lg(
									type="button"
									ng-click="$ctrl.list = [{Text: 'First Choice', Value: 1}, {Text: 'Second Choice', Value: 2}]"
								) List 1

							.col-auto
								button.btn.btn-dark.btn-lg(
									type="button"
									ng-click="$ctrl.list = [{Text: 'Third Choice', Value: 3}, {Text: 'Fourth Choice', Value: 4}]"
								) List 2

		ui-view
