- var colors = require('./colors.json')
- var icons = require('./icons.json')
- var toasts = colors.filter(function(x) { return ['info', 'success', 'warning', 'danger'].includes(x) }).map(function(x) { return x === 'danger' ? 'error' : x})

html(lang="en")
	head
		base(href="/")
		link(rel="preload shortcut icon" href="images/favicon.ico" type="image/x-icon")
		meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
		meta(http-equiv="Pragma" content="no-cache")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content=(require('../../package.json').description))
		title= htmlWebpackPlugin.options.title

	body.bg-secondary(ng-controller="AppController as $ctrl")
		#loading-spinner
			div(role="status")
				span.sr-only Loading...

		nav.navbar.navbar-dark.bg-dark.shadow-lg
			h1.w-100.text-center.text-success
				| @ledge/ng-app #[strong.text-white docs]

		main
			.container-fluid
				.row.pt-3
					.col-12.col-md-auto.pr-md-0
						.card.shadow-sm
							.card-body
								fieldset
									legend.h2.border-bottom.pb-2 Modal
									button.btn.btn-block.btn-dark(type="button" ng-click="$ctrl.openModal()") open

					.col-12.col-md-auto.px-md-0
						.card.shadow-sm
							.card-body
								fieldset#toasts
									legend.h2.border-bottom.pb-2 Toasts
									each toast in toasts
										button.btn.mr-1.mb-1.mb-md-0(class="btn-" + (toast === 'error' ? 'danger' : toast) ng-click="$ctrl.$log." + toast + "('Example " + toast + " toast')" type="button")= toast
									button.btn.btn-light(type="button" ng-click="$ctrl.openConfirmToast()") confirm
									button.btn.btn-outline-dark(type="button" ng-click="$ctrl.$log.clear()") &times; clear

					.col.pl-md-0
						.card.shadow-sm
							.card-body
								fieldset
									legend.h2.border-bottom.pb-2 Spinners
									each color in colors
										app-spinner(color=color)

				.card-deck
					.card.mr-md-0.shadow-sm.mb-0
						.card-body
							fieldset
								legend.h2.border-bottom.pb-2.mb-3 Inputs
								.row
									.col
										text-input(ng-model="$ctrl.textInput")
											| Text Input: #[strong(ng-bind="$ctrl.textInput || '(empty)'")]
									.col
										text-input(ng-model="$ctrl.numberInput" type="number")
											| Number Input: #[strong(ng-bind="$ctrl.numberInput || '(empty)'")]
								.row
									.col
										text-input(ng-model="$ctrl.rangeInput" type="range")
											| Range Input: #[strong(ng-bind="$ctrl.rangeInput || '(empty)'")]
									.col
										date-input(ng-model="$ctrl.dateInput")
											| Date Input: #[strong(ng-bind="$ctrl.dateInput || '(empty)'")]

								.row
									.col
										text-box(ng-model="$ctrl.textBox")
											| Text Area: #[strong(ng-bind="$ctrl.textBox || '(empty)'")]

					.card.ml-md-0.shadow-sm.mb-0(
						ng-init="$ctrl.list = [{Text: 'First Choice', Value: 1}, {Text: 'Second Choice', Value: 2}, {Text: 'First Choice', Value: 3}, {Text: 'Second Choice', Value: 4}]"
					)
						.card-body
							fieldset
								legend.h2.border-bottom.pb-2.mb-3 Lists
								.row
									.col
										select-list(ng-model="$ctrl.selectSingle" list="$ctrl.list")
											| Single Select: #[strong(ng-bind="$ctrl.selectSingle || '(empty)'")]

									.col
										select-list(ng-model="$ctrl.selectMultiple" list="$ctrl.list" multiple)
											| Multiple Select: #[strong(ng-bind="$ctrl.selectMultiple || '(empty)'")]

								.row
									.col
										fieldset
											legend Radio List: #[strong(ng-bind="$ctrl.radioList || '(empty)'")]
											radio-list(ng-model="$ctrl.radioList" list="$ctrl.list")

									.col
										check-box(ng-model="$ctrl.checkBox")
											| Check Box: #[strong(ng-bind="$ctrl.checkBox || '(empty)'")]

								.row.justify-content-center.pt-5
									.col-auto
										button.btn.btn-dark.btn-lg(
											type="button"
											ng-click="$ctrl.list = [{Text: 'First Choice', Value: 1}, {Text: 'Second Choice', Value: 2}]"
										) List 1

									.col-auto
										button.btn.btn-dark.btn-lg(
											type="button"
											ng-click="$ctrl.list = [{Text: 'Third Choice', Value: 3}, {Text: 'Fourth Choice', Value: 4}]"
										) List 2

				.row.pb-3
					.col-12
						.card.shadow
							.card-body
								fieldset
									legend.h2.border-bottom.pb-2.mb-3 Icons
									each icon in icons
										app-icon(icon=icon height=42 width=42)

			ui-view
