html(lang="en")
	head
		base(href="/")
		link(rel="preload shortcut icon" href="images/favicon.ico" type="image/x-icon")
		meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
		meta(http-equiv="Pragma" content="no-cache")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="Documentation for the @ledge/ng-app web application platform.")
		title= htmlWebpackPlugin.options.title

	body
		.row
			.col
				text-input(ng-model="$ctrl.textInput")
			.col
				date-input(ng-model="$ctrl.dateInput")
		.row(
			ng-init="$ctrl.selectListList = [{Text: 'First Choice', Value: 1}, {Text: 'Second Choice', Value: 2}]"
		)
			.col-12
				p Current: {{$ctrl.selectListList | json}}
				button(
					type="button"
					ng-click="$ctrl.selectListList = [{Text: 'First Choice', Value: 1}, {Text: 'Second Choice', Value: 2}]"
				) Change 1
				button(
					type="button"
					ng-click="$ctrl.selectListList = [{Text: 'Third Choice', Value: 3}, {Text: 'Fourth Choice', Value: 4}]"
				) Change 2

			.col
				| Select Single: {{$ctrl.selectSingle}}
				select-list(ng-model="$ctrl.selectSingle" list="$ctrl.selectListList" sr-only)
					| Select Single Input
			.col
				| Select Multiple: {{$ctrl.selectMultiple}}
				select-list(ng-model="$ctrl.selectMultiple" list="$ctrl.selectListList" multiple sr-only)
					| Select Multiple Input

		ui-view
